.mainbox{
    display: flex;
    background-color: silver;
    flex-direction: column-reverse;
    height: 250px;
    flex-flow: wrap;
    justify-content: space-around;
}

.mainbox2{
    display: flex;
    background-color: aqua;
    flex-direction: column-reverse;
    height: 250px;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.mainbox3{
    display: flex;
    background-color: rgb(134, 144, 230);
    flex-direction: column-reverse;
    height: 250px;
    flex-flow: wrap;
    justify-content: space-between;
}
.mainbox4{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(153, 0, 204);
    text-align: justify;
    flex-direction: column;
    height: 40px;
    flex-flow: wrap;
    justify-content: space-evenly;
    list-style-type: circle;
}

.mainbox5{
    display: flow-root;
    background-color: rgb(187, 167, 235);
    flex-direction: row;
    height: 150px;
    width: 300px;
    flex-flow: wrap;
    justify-content: left;
    list-style-type: circle;
    float: left;
    margin-right: 800px;
}

.mainbox6{
    display: flow-root;
    height: 200px;
    width: 300px;
    flex-direction: column;
    flex-flow: wrap;
    float: none;
    color: blueviolet;
    
}