.mainbox{
    display: flex;
    background-color: silver;
    flex-direction: column-reverse;
    height: 250px;
    flex-flow: wrap;
    justify-content: space-around;
}

.mainbox2{
    display: flex;
    background-color: aqua;
    flex-direction: column-reverse;
    height: 250px;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.mainbox3{
    display: flex;
    background-color: rgb(134, 144, 230);
    flex-direction: column-reverse;
    height: 250px;
    flex-flow: wrap;
    justify-content: space-between;
}
.mainbox4{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(153, 0, 204);
    text-align: justify;
    flex-direction: column;
    height: 40px;
    flex-flow: wrap;
    justify-content: space-evenly;
    list-style-type: circle;
}

.mainbox5{
    display: flow-root;
    background-color: rgb(187, 167, 235);
    flex-direction: row;
    height: 150px;
    width: 300px;
    flex-flow: wrap;
    justify-content: left;
    list-style-type: circle;
    float: left;
    margin-right: 800px;
}

.mainbox6{
    display: flow-root;
    height: 200px;
    width: 300px;
    flex-direction: column;
    flex-flow: wrap;
    float: none;
    color: blueviolet;
    
}

/* lesson/exercise 6: box sizing */
* { margin: 0; }

.mainwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
  }

.wrapper {
    width: 50vw;
    height: 50vh;
    border: 1px solid rgb(0, 46, 161);
    margin: 0;
    
  }
     
  
.wrapper2 {
    background-color: rgb(236, 43, 43);
    width: 50%;
    height: 50%;
    margin: 0;
    color: white;
    
    
  }

.wrapper3 {
    display: grid;
    border: 2px solid tomato;
    margin-block: 5px;
    grid-template-columns: 33% 33% 33%;
    color: white;
    padding: 4px;
}

.inline-display {
    display: inline;
    border: 2px solid tomato;
    margin-top: 16px;
}

.margin{
    display: inline;
}

.maindiv{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(151, 213, 255);
}

.headerfooter{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 210, 213);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.top {
    position: absolute;
    top: 0;
}

.aside{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 4em 0 4em;
    padding: 50px 20px 50px 20px;
    width: 30%;
    max-height: 100%;
    background-color: rgb(6, 255, 151);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.article{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 4em 0 4em 2em;
    padding: 50px 20px 50px 20px;
    max-height: 100%;
    width: 70%;
    background-color: rgb(248, 163, 26);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.images{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    
}

